<h1>{{ title }}</h1>

<h2>everything can be clicked</h2>

<p (click)="onLogMe()">click me</p>
<h2 (click)="onLogMe()">click me</h2>

<hr />
<h2>a, button, input</h2>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">


<h2>onclick</h2>

<button type="button" (click)="onLogMe()">Log me!</button>
<button type="button" (click)="onEditClick('foo')">Edit foo</button>
<button type="button" class="btn btn-primary" (click)="onCopyHandler()">
	Copy
</button>


<h4>myClick is an event</h4>
<button id='click-id-1' type="button" (click)="onClickMessage($event)" clickable>
	click 1
</button>
<button id='click-id-2' type="button" (click)="onClickMessage($event)" clickable>
	click 2
</button>
{{clickMessage}}
